.new-tweet{
  margin-top: 5%;
}

#tweet-area {
  width: 100%;
  background-color: inherit;
  overflow: hidden;
  border: none;
  border-bottom: 4px #545149 solid;
  margin-top: 75px;
  display: flex;
  justify-content: space-evenly;
}

.form-flex{
  display: flex;
  justify-content: space-between;
}
  
  .counter {
    float: right;
    font-family: 'Bungee', cursive;
  }
  
  .btn {
    font-family: 'Bungee', cursive;
    background-color: #4056A1;
    color: white;
    font-size: 24px;
    padding: 5px 10px;
    margin-bottom: 5%;
  }
  .shrterr,
  .err-message{
    color : red;
    font-size: 19px;
    border: solid red;
   margin-top: 70px;
display: none;
cursor: pointer;
  }
  
 /* making my static css into responsive designing */
 @media only screen and (min-width: 1024px) {
.new-tweet{
  margin-top: 5%;
}
 }